<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Tu Carrito</h1>
        <a href="/" class="back-link">Volver a la tienda</a>
    </header>
    <section class="cart">
        <h2>Productos en el carrito:</h2>
        <ul id="cart-items"></ul>
        <p id="total-price"></p>
    </section>
    <script src="/static/js/index.js"></script>
</body>
</html>
